{% extends "layout.njk" %}

{% block content %}
  <div id="page-home">  
    <section class="banner">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </section><!--banner-->
  
    <section class="most-accessed">
      <h2>Mais acessadas</h2>
  
      <div class="recipes">

        {% for recipe in recipes %}
          {% if recipe.mostAccessed %}
            <div class="recipe">
              <img src="{{ recipe.img }}" alt="{{ recipe.title }}">
              <h3>{{ recipe.title }}</h3>
              <p>por {{ recipe.author }}</p>
            </div><!--recipe-->
          {% endif %}
        {% endfor %}

      </div><!--recipes-->
    </section><!--most-accessed-->
  </div><!--page-home-->

  {% include "modal.njk" %}
{% endblock %}

{% block scripts %}
  <script src="scripts/scripts.js"></script>
{% endblock %}