@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #111111;
}

html, body {
  height: 100%;
}

body {
  background-color: #F0F6F3;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 30px 0;
}

header nav {
  margin-left: 123px;
}

header nav a {
  position: relative;
  margin-right: 30px;
}

header nav a.active {
  font-weight: 700;
}

header nav a:hover {
  font-weight: 700;
}

#page-home, #page-about, #page-recipes, #page-recipe {
  max-width: 940px;
  margin: 0 auto;
  min-height: calc(100% - 153px);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 366px;
  padding: 60px;
  border-radius: 30px;
  background-image: url('../assets/chef.png');
  background-repeat: no-repeat;
  background-position: bottom right 100px;
  background-color: #FBDFDB;
}

.banner p {
  width: 320px;
  font-size: 18px;
  line-height: 28px;
}

.most-accessed {
  padding: 50px 0;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.recipe img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.recipe p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

footer {
  padding: 23px 0;
  text-align: center;
  font-size: 14px;
  color: #999999;
  background-color: #EEEEEE;
}

/* Page-about */
#page-about section {
  padding: 20px 0;
}

#page-about h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

#page-about p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28px;
}

/* Page-recipes */
#page-recipes .recipes {
  margin: 20px 0 50px;
}

/* Page-not-found */
#page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 153px);
}

#page-not-found a:hover {
  font-weight: 700;
}

/* Page-recipe */
#page-recipe {
  padding-bottom: 50px;
}

#page-recipe img {
  width: 100%;
  height: 280px;
  margin-bottom: 50px;
  border-radius: 15px;
}

#page-recipe h1 {
  font-size: 36px;
  margin-bottom: 5px;
  text-align: center;
}

#page-recipe h3 {
  font-size: 20px;
  text-align: center;
  color: #777777;
}

#page-recipe h2 {
  margin-top: 40px;
}

#page-recipe h2 span {
  font-size: 12px;
  cursor: pointer;
  color: #999999;
}

#page-recipe li, #page-recipe p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}

#page-recipe .data {
  overflow: hidden;
  max-height: 1000px;
  transition: 400ms;
}

#page-recipe .information.hide .data {
  max-height: 0;
}